<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Detalles de Información</h1>
  <h2 th:text="${Titulo}">Título</h2>
  <p th:text="${Descripcion}">Descripción</p>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Ciudad</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="Employee : ${Employees}">
        <td th:text="${Employee.nombre}">Nombre</td>
        <td th:text="${Employee.edad}">Edad</td>
        <td th:text="${Employee.ciudad}">Ciudad</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total de empleados: <span th:text="${#lists.size(Employee)}">0</span></td>
      </tr>
    </tfoot>
  </table>
</body>
</html>